auto {{ router_lan_iface }}
iface {{ router_lan_iface }} inet static
{% if router_lan_remove_offload is defined and router_lan_remove_offload %}
    offload-gso off
    offload-gro off
    offload-tso off
    offload-rx off
    offload-tx off
    offload-rxvlan off
    offload-txvlan off
    offload-sg off
    offload-ufo off
    offload-lro off
{% endif %}
    address 10.0.2.1
    netmask 255.255.255.0
