
# Set custom prompt for root user only
PS1='(\[\e[31;1;3m\]root \[\e[0m\]@ \[\e[32m\]\H\[\e[0m\])-(\[\e[38;5;25m\]$(git branch 2>/dev/null | grep '"'"'*'"'"')\[\e[0m\])-(\[\e[38;5;27m\]\w\[\e[0m\]) --> '
