
domain=cloud.ou.edu
dhcp-range=10.0.2.5,10.0.2.250,255.255.255.0,1h
dhcp-boot={{ arch_pxe_efi }}
dhcp-option=3,10.0.2.1
dhcp-option=6,10.0.2.1
dhcp-authoritative
bind-interfaces
interface={{ router_lan_iface }}
except-interface={{ router_wan_iface }}
# interface=
log-dhcp
# log-facility=
enable-tftp
tftp-root={{ tftp_dir }}

pxe-service=x86PC, "PXELINUX (BIOS)", "pxelinux.0"
pxe-service=X86-64_EFI, "Arch PXE (UEFI)", "{{ arch_pxe_efi }}"
pxe-service=2, "PXELINUX (0002-EFI)", "grubx64.efi"
pxe-service=6, "PXELINUX (0006-EFI)", "grubx64.efi"
pxe-service=7, "PXELINUX (0007-EFI)", "grubx64.efi"
pxe-service=8, "PXELINUX (0008-EFI)", "grubx64.efi"
pxe-service=9, "PXELINUX (0009-EFI)", "grubx64.efi"
